@import './tailwind-theme.scss';
@import './radix-theme.scss';

html,
body {
  display: block;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--default-background-color);
  color: var(--default-text-color);

  * {
    box-sizing: border-box;

    &::before,
    &::after {
      box-sizing: border-box;
    }
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--app-default-font-family);
}

html,
body,
body > .radix-themes {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
